* {
  margin: 0 auto;
  padding: 0;

}

.App {
  text-align: center;
}

nav,
footer {
  background-color: #1C1C1C;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  color: #fff;
  box-sizing: border-box;
}

nav {
  display: flex;
  /* justify-content: start; */
  top: 0;
}
.MQHide {
  display: inline;
}

@media (max-width: 776px) {
  #hamburger {
    order: 3;
  }
}

@media (max-width: 550px) {
  nav {
    padding: 10px;
  }
  .MQHide {
    display: none;
  }
}
footer {
  bottom: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.link-styles {
  color: white;
  text-decoration: none;
}

.link-styles:hover {
  background-color: #7b7b7b;
  border-radius: 15px;
  color: #e6e6e6;
  text-decoration: none;
  padding: 5px 7px;
}


.home-ul {
  display: flex;
  /* align-items: 'center'; */
  list-style-type: none;

}

.mobile-ul {
  position: fixed;
  left: 0;
  top: 117px;
  background-color: #1C1C1C;
  list-style: none;
}

@media (max-width: 550px) {
  .mobile-ul {
    top: 97px;
  }
}

@media (max-width: 776px) {
  #links {
    position: fixed;
  }
}

/* @media (max-width: 965px) {
  .home-ul {
    display: block;
    align-items: center;
    list-style-type: none;
  }

} */
.cart-login-btn {
  display: flex;
  /* flex-direction: column; */
}

@media (max-width: 550px) {
  .cart-login-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    /* margin: 0 */
  }
  .logo {
    margin: 0;
  }
}
.cart-login-btn {
  display: flex;
}


ul li {
  margin: 0 10px;
  font-size: large;
  justify-content: space-evenly;

}

.logout {
  background-color: red;
  border: none;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 15px;
}

.logout:hover {
  background-color: rgb(244, 106, 106);
  color: #fff;
  border: none;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 15px;
}

.reglog {
  background-color: #198754;
  font-size: medium;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
}

.reglog:hover {
  background-color: rgb(27, 203, 27);
  color: #fff;
  border: none;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 15px;
}

.admin {
  background-color: #FFC107;
  font-size: medium;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
}

.admin:hover {
  background-color: #fac936;
  color: #000;
  border: none;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 15px;
}

/* login form */
.login-form {
  background-color: #f1f1f1;


}

.login-form input {
  padding: 15px 30px;
  margin: 15px 0;
  margin-left: -20px;
  border: none;
  border-radius: 20px;

}

.sign-in-btn {
  background-color: #198754;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  width: 200px;
  padding: 15px 30px;

}

/* product detail and cart */
#add-cart-btn {
  border: none;
  color: #fff;
  background-color: #000;
  padding: 15px 25px;
  width: 200px;
  font-size: 16px;
  border-radius: 25px;
}

#add-cart-btn:hover {
  border: none;
  color: #fff;
  background-color: #484848;
  padding: 15px 25px;
  width: 200px;
  font-size: 16px;
  border-radius: 25px;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#remove-cart-btn {
  border: none;
  background-color: #DC3545;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 10px;
  width: 150px;
}

#remove-cart-btn:hover {
  border: none;
  background-color: #fb5969;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  width: 150px;
}

.left-col {
  display: "flex";
  width: "100%";
}

@media (max-width: 1013px) {
  .left-col {
    flex-direction: column;
  }
}

@media (max-width: 685px) {
  .cart-container {
    display: flex;
    flex-direction: column;
  }

  .paypal-container {
    margin-top: 25px;
  }
}

/* Admin DashBoard */
.admin-container { 
  display: flex;
  flex-direction: column;
  min-height: 170vh;
  margin-top: 100px;
  padding-top: 30px;
  overflow-y: auto;
  background-color: #000000;
  background-color: #eec0c6;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  background-size: cover;
  background-repeat: no-repeat;



}

@media (max-width: 1290px) {
  
  .admin-container {
    background-color: grey;
    height: 200vh;
  }


  .admin-dash {
    display: flex;
    flex-wrap: wrap;

  }

}


@media (max-width: 965px) {
  .admin-container {
    margin-top: 100px;
    padding-top: 30px;
    background-color: grey;
    height: 300vh;
  }

  .admin-dash {
    display: flex;
    flex-wrap: wrap;


  }

}

@media (max-width: 596px) {
  .admin-container {
    margin-top: 150px;
    padding-top: 30px;
    background-color: grey;
    height: 200vh;
    width: 175vw;
    /* width: 585vw; */
  }

  .admin-dash {
    display: flex;
    flex-wrap: wrap;


  }

}

@media (max-width: 375px) {
  .admin-container {
    margin-top: 150px;
    padding-top: 30px;
    background-color: grey;
    height: 200vh;
    width: 175vw;
    /* width: 585vw; */
  }

  .admin-dash {
    display: flex;
    flex-wrap: wrap;


  }

}

.admin-dash {
  display: flex;

}



.form-divs {
  margin: 30px;
  display: flex;
  flex-direction: column;
}


.form-divs input {
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 10px;

  border: none;
  width: 300px;
}

.form-divs select {
  padding: 10px 15px;
  color: grey;
  border-radius: 15px;
  border: none;
}

#file-load {
  color: #000;
  border: none;
}

.admin-btn {
  width: 60%;
  padding: 10px 15px;
  margin-top: -10px;
  margin-bottom: 100px; 
  font-size: medium;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: #198754;

}

.admin-btn:hover {
  width: 60%;
  padding: 10px 15px;
  margin-top: -10px;
  font-size: medium;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: #33b377;

}

/* admin table */



.admin-table {
  margin-top: 5%;
  width: 95%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: center;

}

.admin-table th {
  color: #f2f2f2;
  background-color: #000;

}

.admin-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.admin-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
  background-color: #ebebeb;
}

.admin-table .product-name {
  width: 150px;

}

.admin-table .product-brand {
  width: 150px;
}

/* .admin-table .product-price {} */

.admin-table .product-color {
  width: 100px;
}

.admin-table .product-size {
  width: 80px;
}

.admin-table .product-description {
  width: 250px;
}

.admin-table .product-image {
  width: 50px;

}

.admin-table .product-action {
  width: 100px;
  text-align: center;
}

/* Custom pagination colors */
.pagination {
  display: flex;
  justify-content: center;
  ;
  list-style-type: none;
  margin-top: 10px;
}

.custom-pagination .page-link {
  color: #198754;
  border: none;
  padding: 20px;
  font-size: medium;

  /* background-color: #00ff11; */
  /* border-color: #04ff00; */
}

.custom-pagination .page-link:hover {
  color: #fff;
  color: #4aeba27c;
  border: none;
}

.custom-pagination .page-link:focus {
  color: #fff;
  background-color: #198754;

  box-shadow: 0 0 0 0.2rem rgba(38, 255, 49, 0.5);
}

.custom-pagination .page-item.active .page-link {
  color: #fff;
  background-color: seagreen;
  border-color: #000;
}

.custom-input:focus {
  border-color: #80ff8d;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 13, 0.25);
}

.select-all {
  border: lightgray 1px solid;
  padding: 10px 15px;
  margin: 10px;
  width: 250px;
}

.search-sneaks {
  border: lightgray 1px solid;
  margin-right: 5px;
  padding: 10px;
  width: 150px;

}

.search-btn {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
}

.search-btn:hover {
  border: none;
  padding: 10px 15px;
  background-color: rgb(12, 12, 12);
  color: #fff;
  font-size: 14px;
}
.mobile-ul {
  /* position: fixed; */
  /* left: 0; */
  /* top: 25% */
  padding: 0;
  margin: 0;
}
/* 
.mobile-ul ul, mobile-ul a {
  list-style: none;
  color: red;
} */
