* {
  margin: 0 auto;
  padding: 0;

}

.App {
  text-align: center;
}

nav, footer{
  background-color: grey;
  padding: 20px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  /* justify-content: start; */
  top: 0;
}

footer {
  bottom: 0;
  text-align: center;
}